{% extends 'education/base.html' %}

{% block content %}

{% load static %}
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for object in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">{{object.name_material}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                            onclick="window.location.href='{% url 'education:material_detail' object.pk %}'"
                                            class="btn btn-outline-secondary">Материал
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
